{
  "extends": ["@ribeirogab/eslint-config/node"],
  "overrides": [
    {
      "files": ["tsup.config.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["bin/*"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
